
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display:inline;
}

.s-cont {
  width: 100%; /* Full width */
  background-color: #ffffff; /* Grey background */
  border-radius: 10px;
  margin:auto;
  box-shadow: 0px 2.5px 1px #0c0c0c;
  border: 2px solid #0c0c0c;
  transition: all 0.3s ease-in-out;
}

.s-cont:hover .skills {
  color: black;
  transition: all 0.3s ease-in-out;
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: rgb(0, 0, 0); /* White text color */
  font-family: Montserrat;
  font-style:oblique;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.html{
  width:80%;
  background-color:#ff9e65;
  border-radius: 7px;
  box-shadow: 3px 0px 8px #8d8d8d;
  animation: html 5s;
}

@keyframes html{
  0%{
    width: 0%;
  }100%{
    width: 80%;
  }
}
@keyframes js{
  0%{
    width: 0%;
  }100%{
    width: 60%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }100%{
    width: 80%;
  }
}
@keyframes py{
  0%{
    width: 0%;
  }100%{
    width: 85%;
  }
}

.css{
  width:80%;
  background-color:#ff9e65;
  border-radius: 7px;
  box-shadow: 3px 0px 8px #8d8d8d;
  animation: css 5s;
}

.js{
  width:60%;
  background-color:#ff9e65;
  border-radius: 7px;
  box-shadow: 3px 0px 8px #8d8d8d;
  animation: js 5s;
}

.py{
  width:85%;
  background-color:#ff9e65;
  border-radius: 7px;
  box-shadow: 3px 0px 8px #8d8d8d;
  animation: py 5s;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  text-align: center;
  padding: 1em;
  display: flex;
  position:fixed;
  justify-content: center;
  align-items: center;
  top: 25px;
  margin-left:27%;
  margin-right:27%;
  width:auto;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 20px;
  box-shadow: 0px 2px 10px #bbbbbb;
  z-index: 100;
}


.navbar > a{
  margin-left:25px;
  margin-right:25px;
  text-align: center;
  justify-content: center;
}

.nav-menu{
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  text-align: center;
  transition: transform 0.3s;
}

.nav-menu:hover{
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ff9e65;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 15px #888888;
}

.card:hover .image {
  transform: scale(1.15);
  opacity: 0.25;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.3s;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: #000000;
  border-radius: 15px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.Tag {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #00adfd;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}


.TagF {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #fd0076;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}

.TagNew {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #ff9100;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}

.card:hover .card-content {
  opacity: 1;
}

.card-title {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.card-description {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 500;
  font-style: italic;
}

.card-link {
  color: #fff;
  text-decoration: none;
}

.nav-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-title-link:hover {
  text-decoration: none;
  color: #946dff;
  transition: color 0.5s;
}


/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 2px solid #0c0c0c;
  border-radius: 15px;
  color: #0c0c0c;
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  gap: 5px;
  align-items: center;
  text-align:center;
  box-shadow: 0px 2.5px 1px #0c0c0c;
  transition: all 0.3s ease-in-out;;
  align-items: center;
}

a.button2 {
  padding: 8px 16px;
  border: 2px solid #ff9e65;
  border-radius: 15px;
  color: #ff9e65;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  display: inline;
  gap: 5px;
  align-items: center;
  transition: color 0.3s;
  box-shadow: 0px 2.5px 1px #ff9e65;
  transition: all 0.3s ease-in-out;;
}

a.button2 > span{
  font-size: 12px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

a.button > span{
  font-size: 12px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  display:inline;
  margin: auto;
}

.change-my-color {
  width: 20px;
  height: auto;
  align-items: center;
  justify-content: space-between;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;;
}

a.button:hover .change-my-color{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) !important;
  transition: all 0.3s ease-in-out;;
}

a.button:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #0c0c0c;
  border: 2px solid #0c0c0c;
  color: #ffffff;
  align-items: center;
  box-shadow: 0px 5px 15px #888888;
  transition: all 0.3s ease-in-out;;
}

a.button2:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #ff9e65;
  color: white;
  box-shadow: 0px 5px 15px #ff9d6577;
  transition: all 0.3s ease-in-out;;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  position:relative;
  text-align: center;
  margin-top: -60px;
  clear: both;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }

  .navbar {
    padding: 1em;
    background-color: white;
    width: 100%;
    text-align: center;
    top: 0px;
    margin: auto;
    display: inline-block;
    border-radius: 0px 0px 15px 15px;
    justify-content:center;
    align-items:center;
    position:absolute;
  }

  .navbar > a {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
  }

  .nav-menu{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: transform 0.3s;
  }

  .card {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 15px #888888;
  }

  .card-title {
    font-size: 12px;
    margin: 0;
    font-weight: 700;
  }
  .card-description {
    font-size: 8px;
    margin: 10px 0;
    font-weight: 500;
    font-style: italic;
  }

  .Tag {
    font-size: 10px;
    font-weight: 500;
  }

  .TagF {
    font-size: 10px;
    font-weight: 500;
  }

  .TagNew {
    font-size: 10px;
    font-weight: 500;
  }

  a.button{
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;  
    border-radius: 13px;
    text-align: center;
  }

  a.button2{
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;  
    border-radius: 13px;
    text-align: center;
  }

  a.button > span{
    font-size: 12px;
    font-weight: 700;
    align-items: center;
  }

  a.button2 > span{
    font-size: 10px;
    font-weight: 700;
    align-items: center;
    display: inline-block; 
  }

  .change-my-color{
    display: none;
  }
  
}