
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff00;
  border-radius: 15px;
  left: 0;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 15px #888888;
}

.card:hover .image {
  transform: scale(1.1);
  opacity: 0.45;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.3s;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: #000000;
  border-radius: 15px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.card .Tag {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #00adfd;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}

.card .TagF {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #fd0076;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}

.card .TagNew {
  z-index: 3;
  padding: 5px 10px ;
  top: 5px;
  left: 15px;
  border-radius: 20px;
  background-color: #ff9100;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  position: absolute;
  box-shadow: 0px 2px 10px #888888;
}

.card:hover .card-content {
  opacity: 1;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-description {
  font-size: 14px;
  margin: 10px 0;
}

.card-link {
  color: #fff;
  text-decoration: none;
}

.nav-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-title-link:hover {
  text-decoration: none;
  color: #ff9f32;
  transition: color 0.5s;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}


/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 2px solid #0c0c0c;
  border-radius: 15px;
  color: #0c0c0c;
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  gap: 5px;
  align-items: center;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button2 {
  padding: 8px 16px;
  border: 2px solid #946dff;
  border-radius: 15px;
  color: #946dff;
  text-decoration: none;
  width: fit-content;
  display: inline;
  gap: 5px;
  align-items: center;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #0c0c0c;
  border: 2px solid #0c0c0c;
  color: #ffffff;
  align-items: center;
  box-shadow: 0px 5px 15px #888888;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button2:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #946dff;
  color: white;
  box-shadow: 0px 5px 15px #888888;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}