
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff00;
  left: 0;
}

.nav-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-title-link:hover {
  text-decoration: none;
  color: #946dff;
  transition: color 0.5s;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}


/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 2px solid #0c0c0c;
  border-radius: 50px;
  color: #0c0c0c;
  text-decoration: none;
  width: fit-content;
  display: inline;
  gap: 5px;
  align-items: center;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button2 {
  padding: 8px 16px;
  border: 2px solid #946dff;
  border-radius: 50px;
  color: #946dff;
  text-decoration: none;
  width: fit-content;
  display: inline;
  gap: 5px;
  align-items: center;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: 0c0c0c;
  box-shadow: 0px 5px 15px #888888;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}

a.button2:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: #946dff;
  color: white;
  box-shadow: 0px 5px 15px #888888;
  transition: color 0.3s;
  transition: background-color 0.3s;
  transition: box-shadow 0.4s;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}